.title {
  margin-bottom: 3rem;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid var(--clr-primary);
}

th,
td {
  padding: 0.5rem;
  border: 1px solid var(--clr-primary);
  text-align: center;
}

.player {
  text-align: left;
  font-weight: bold;
}

tbody tr:first-child .player {
  display: flex;
  border: 0;
  align-items: baseline;
  gap: 0.5rem;

  &::after {
    content: "👑";
    display: block;
  }
}

.player-points {
  font-weight: bold;
}

@media screen and (max-width: 480px) {

  th,
  td {
    padding: 0.25rem;
    font-size: 0.875rem;
  }

  tbody tr:first-child .player {
    gap: 0.25rem;

    &::after {
      font-size: 0.75rem;
    }
  }
}