.title {
  margin-bottom: 3rem;
}

.leaderboard-table {
  width: 100%;
  padding-block: 2.5rem;
  border-collapse: collapse;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px oklch(from var(--clr-dark) l c h / 0.35);
}

th,
td {
  padding: 0.5rem;
  border-inline: 1px solid var(--clr-primary);
  text-align: center;

  &:first-child {
    border-left: 0;
  }

  &:last-child {
    border-right: 0;
  }
}

th {
  padding-top: 1rem;
  border-bottom: 2px solid var(--clr-primary);
}

.player {
  text-align: left;
  font-weight: bold;
}

tbody tr:first-child .player {
  display: flex;
  border: 0;
  align-items: baseline;
  gap: 0.5rem;

  &::after {
    content: "👑";
    display: block;
  }
}

.player-points {
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 1.25rem;
}

a {
  color: var(--clr-primary);
  font-weight: bold;
}

@media screen and (max-width: 480px) {

  th,
  td {
    padding-inline: 0.25rem;
    font-size: 0.875rem;
  }

  tbody tr:first-child .player {
    gap: 0.25rem;

    &::after {
      font-size: 0.75rem;
    }
  }
}