<section class="leaderboard">
  <h2>Today's Dglumpers</h2>
  @if(isLoading) {
  <p>Loading...</p>
  } @else if(!isLoading && (isNewDay() || dailyLeaderboard()?.length === 0)) {
  <p class="new-day-text">No <span class="dglump">Dglumpers</span> yet</p>
  <p class="new-day-text"><span class="dglump">Dglump</span> to be first</p>
  } @else {
  @for(leaderboardRow of dailyLeaderboard(); track leaderboardRow.id) {
  <div class="row" [class.current-user]="isCurrentUser(leaderboardRow.username)">
    <p class="position">{{getMedal($index)}}</p>
    <p class="player">{{leaderboardRow.username}}</p>
  </div>
  }
  }
</section>