.leaderboard {
  min-width: 300px;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 2px oklch(from var(--clr-dark) l c h / 0.35);
}

h2 {
  text-align: center;
  margin-bottom: 0.75rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--clr-primary);
}

.row {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0.5rem;

  &.current-user .player {
    font-weight: bold;
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--clr-primary);
  }
}

.right {
  display: flex;
  align-items: center;

  p {
    padding-inline: 7px;
  }
}

.time {
  font-weight: bold;
  border-left: 2px solid var(--clr-primary);
}

.new-day-text {
  text-align: center;
  font-size: 0.875rem;
  margin-block: 0.25rem;
}

@media screen and (max-width: 480px) {
  .leaderboard {
    width: 100%;
  }
}