<header>
  <div class="container">
    <div class="left logo">
      <a routerLink="/home"><img src="/logo-1.png" alt="The Dglumping Game"></a>
    </div>

    <div class="right">
      <nav class="main-nav">
        <ul class="nav-list">
          <li><a routerLink="/home" class="nav-link">Home</a></li>
          <li><a routerLink="/leaderboard" class="nav-link">Leaderboard</a></li>
          <li><a routerLink="/rules" class="nav-link">Rules</a></li>
        </ul>
      </nav>

      <div class="auth">
        <button class="sign-up button"><a href="" class="auth-link">Sign Up</a></button>
        <button class="sign-in button"><a href="" class="auth-link">Sign In</a></button>
      </div>
    </div>
  </div>
</header>