header {
  position: relative;
  z-index: 1000;
  padding-block: .25rem;
  box-shadow: 0 0 10px oklch(from var(--clr-dark) l c h / 0.55);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 120px;
}

.right {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-primary)
}

.nav-link {
  padding: .75rem .5rem;
  font-weight: bold;
  font-size: 1.25rem;
  position: relative;
}

.nav-link::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: var(--clr-dark);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: skew(-45deg);
  transition: width 0.25s ease-in-out;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.auth {
  display: flex;
  gap: 10px;
  align-items: center;
}

.button {
  border: 0;
  padding: 1rem 0.25rem;
  background-color: transparent;
  cursor: pointer;
}

.auth-link,
.sign-out {
  padding: .675rem 1.25rem;
  background-color: var(--clr-dark);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.25rem;

  &:hover,
  &:focus-visible {
    background-color: var(--clr-light);
  }
}

.hamburger input {
  appearance: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.hamburger::before,
.hamburger::after,
.hamburger input {
  content: "";
  width: 28px;
  height: 4px;
  border-radius: 50vw;
  background-color: var(--clr-primary);
  transition: 0.2s ease-in;
}

.hamburger::before,
.hamburger::after {
  transform-origin: left center;
}

.hamburger.hamburger:has(input:checked) {
  position: fixed;
  top: 36px;
  right: 7px;
}

.hamburger:has(input:checked) input {
  width: 0;
}

.hamburger:has(input:checked)::before {
  rotate: 45deg
}

.hamburger:has(input:checked)::after {
  rotate: -45deg
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .right {
    background-color: #00000060;
    width: 250px;
    height: 100svh;
    padding: 8rem 3rem;
    position: fixed;
    top: 0;
    left: 100%;
    transition: 0.2s ease-in;
  }

  header:has(input:checked) .right {
    translate: -100% 0;
    box-shadow: 0 0 10px oklch(from var(--clr-dark) l c h / 0.55);
  }

  header:has(input:checked) .close {
    display: block;
  }

  .right,
  .nav-list,
  .auth {
    flex-direction: column;
  }

  .nav-list {
    gap: 2rem;
  }

  .close {
    display: none;
    position: fixed;
    inset: 0;
    z-index: -1;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    max-width: 100px;
  }

  .hamburger.hamburger:has(input:checked) {
    position: fixed;
    top: 28px;
    right: 7px;
  }
}