<header>
  <div class="left">
    <h1><a routerLink="/home">Dglumpi</a></h1>
  </div>

  <div class="right">
    <nav>
      <ul>
        <li><a routerLink="/home" class="nav-link">Home</a></li>
        <li><a routerLink="/leaderboard" class="nav-link">Leaderboard</a></li>
        <li><a routerLink="/rules" class="nav-link">Rules</a></li>
      </ul>
    </nav>

    <div class="auth">
      <button class="sign-up button"><a href="" class="auth-link">Sign Up</a></button>
      <button class="sign-in button"><a href="" class="auth-link">Sign In</a></button>
    </div>
  </div>
</header>