<main>
  <section class="rules-section container">
    <h1 class="title">The Dglumping Game Rules</h1>
    <p class="game-desc">
      World's greatest Dglumpers compete against each other every day to determine the ultimate Dglumper.
    </p>

    <ol class="rules">
      <li class="rule">
        To participate in the game, simply take a Dglump and press "Dglump!" button on home page.
      </li>
      <li class="rule">
        When you Dglump, you get awarded by a medal (gold, silver or bronze) based on your position in today's
        Dglumpers (1st, 2nd or 3rd place respectively).
      </li>
      <li class="rule">
        If you Dglump after all the medals have been awarded, you'll get a participation trophy but it will still be
        added to your total number of Dglumps.
      </li>
      <li class="rule">
        Every Dglump has the same value, regardless of its size, shape, form or stinkiness and contributes equally to
        the game.
      </li>
      <li class="rule">
        Day resets at 8:00 AM. any Dglump that you take before that time still counts as your previous day's Dglump.
      </li>
      <li class="rule">
        One player can participate multiple times per day.
      </li>
      <li class="rule">
        Overal leaderboard is determined by the medals that player has collected. Gold medals are worth 5 points, silver
        medals - 3 and bronze medals - 1.
      </li>
      <li class="rule">
        The fairness of the game depends entirely on honesty of the players. You can cheat the system, but you cannot
        cheat the Gods of Dglump, so think twice before you do anything you might regret.
      </li>
    </ol>
  </section>
</main>