<main>
  <section class="rules-section container">
    <h1 class="title">The Dglumping Game Rules</h1>
    <p class="game-desc">
      World's greatest <span class="dglump">Dglumpers</span> compete against each other every day to determine the
      ultimate <span class="dglump">Dglumper</span>.
    </p>

    <ol class="rules">
      <li class="rule">
        To participate in the game, simply take a <span class="dglump">Dglump</span> and press
        <span class="dglump">"Dglump!"</span> button on home page.
      </li>
      <li class="rule">
        When you <span class="dglump">Dglump</span>, you get awarded by a medal (gold, silver or bronze) based on your
        position in today's <span class="dglump">Dglumpers</span> (1st, 2nd or 3rd place respectively).
      </li>
      <li class="rule">
        If you <span class="dglump">Dglump</span> after all the medals have been awarded, you'll only get a
        participation trophy but it will still be added to your total number of <span class="dglump">Dglumps</span>.
      </li>
      <li class="rule">
        Every <span class="dglump">Dglump</span> has the same value, regardless of its size, shape, form or stinkiness
        and contributes equally to the game.
      </li>
      <li class="rule">
        Day resets at 8:00 AM. any <span class="dglump">Dglump</span> that you take before that time still counts as
        your previous day's <span class="dglump">Dglump</span>.
      </li>
      <li class="rule">
        One player can participate multiple times per day.
      </li>
      <li class="rule">
        Overal leaderboard is determined by the medals that player has collected. Gold medals are worth 5 points, silver
        medals - 3 and bronze medals - 1.
      </li>
      <li class="rule">
        The fairness of the game depends entirely on honesty of the players. You can cheat the system, but you cannot
        cheat the Gods of <span class="dglump">Dglump</span>, so think twice before you do anything you might regret.
      </li>
    </ol>
  </section>
</main>