<main>
  <section class="rules-section container">
    <h1 class="title">The Dglumping Game Rules</h1>
    <p class="game-desc">
      World's greatest <span class="dglump">Dglumpers</span> compete against each other every day to determine the
      ultimate <span class="dglump">Dglumper</span>.
    </p>

    <ol class="rules">
      <li class="rule">
        To participate in the game, simply take a <span class="dglump">Dglump</span> and press
        <span class="dglump">"Dglump!"</span> button on home page.
      </li>
      <li class="rule">
        When you <span class="dglump">Dglump</span>, you get awarded by a medal (gold, silver or bronze) based on your
        position in today's <span class="dglump">Dglumpers</span> (1st, 2nd or 3rd place respectively).
      </li>
      <li class="rule">
        If you <span class="dglump">Dglump</span> after all the medals have been awarded, you'll only get a
        participation trophy but it will still be added to your total number of <span class="dglump">Dglumps</span>.
      </li>
      <li class="rule">
        Every <span class="dglump">Dglump</span> has the same value, regardless of its size, shape, form or stinkiness
        and contributes equally to the game.
      </li>
      <li class="rule">
        Day resets at 8:00 AM. any <span class="dglump">Dglump</span> that you take before that time still counts as
        your previous day's <span class="dglump">Dglump</span>.
      </li>
      <li class="rule">
        One player can participate multiple times per day.
      </li>
      <li class="rule">
        Overal leaderboard is determined by the medals that player has collected. Gold medals are worth 5 points, silver
        medals - 3 and bronze medals - 1.
      </li>
      <li class="rule">
        The fairness of the game depends entirely on honesty of the players. You can cheat the system, but you cannot
        cheat the Gods of <span class="dglump">Dglump</span>, so think twice before you do anything you might regret.
      </li>
    </ol>
    <audio src="/Rules.mp3" autoplay loop [volume]="0.5" [muted]="isMuted" #rulesAudio></audio>
    @if(!isMuted){
    <svg (click)="toggleSound(rulesAudio)" width="40px" height="40px" viewBox="0 0 24 24" fill="none"
      xmlns="http://www.w3.org/2000/svg" stroke="">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <g clip-path="url(#clip0_15_174)">
          <rect width="24" height="24" fill="white"></rect>
          <path d="M3 16V8H6L11 4V20L6 16H3Z" stroke="#190000" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M13 9C13 9 15 9.5 15 12C15 14.5 13 15 13 15" stroke="#190000" stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path d="M15 7C15 7 18 7.83333 18 12C18 16.1667 15 17 15 17" stroke="#190000" stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path d="M17 5C17 5 21 6.16667 21 12C21 17.8333 17 19 17 19" stroke="#190000" stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g>
        <defs>
          <clipPath id="clip0_15_174">
            <rect width="24" height="24" fill="white"></rect>
          </clipPath>
        </defs>
      </g>
    </svg>
    } @else {
    <svg (click)="toggleSound(rulesAudio)" width="40px" height="40px" viewBox="0 0 24 24" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <g clip-path="url(#190000clip0_15_183)">
          <rect width="24" height="24" fill="white"></rect>
          <path d="M3 16V8H6L11 4V20L6 16H3Z" stroke="#19000070" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M14.5 15L20.5 9" stroke="#19000070" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M14.5 9L20.5 15" stroke="#19000070" stroke-linecap="round" stroke-linejoin="round"></path>
        </g>
        <defs>
          <clipPath id="clip0_15_183">
            <rect width="24" height="24" fill="white"></rect>
          </clipPath>
        </defs>
      </g>
    </svg>
    }
  </section>
</main>