main {
  position: relative;
}

.blur {
  padding-block: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 10px oklch(from var(--clr-dark) l c h / 0.35);
}

.game-desc {
  text-align: center;
  font-size: 1.125rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--clr-primary);
}

.rules {
  padding-left: 2ch;
  padding-inline: calc(2ch + 1rem) 1rem;
  margin-top: 2rem;
  display: grid;
  gap: .375rem;
}

.rule::marker {
  font-weight: bold;
}

svg {
  position: absolute;
  top: 30px;
  left: 20px;

  @media (max-width: 768px) {
    top: 20px;
    left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .rules {
    gap: .75rem;
  }

  main {
    padding-top: 5rem;
  }

  svg path {
    stroke: #190000;
  }
}