main {
  padding-top: 2.5rem;
  padding-inline: 1.5rem;
}

form {
  max-width: 400px;
  margin-inline: auto;
  padding: 2rem 1.5rem;
  display: grid;
  gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 2px oklch(from var(--clr-dark) l c h / 0.35);
}

.form-group {
  display: grid;
  gap: 0.375rem;
}

input {
  padding: 0.5rem 1rem;
  color: var(--clr-dark);
  border-radius: .25rem;
  border: 1px solid var(--clr-dark);

  &:focus-visible {
    outline: 1px solid var(--clr-dark)
  }

  &:focus+.error {
    display: none;
  }

  &.ng-touched:not(:focus):invalid {
    border: 1px solid var(--clr-error);
  }
}

.error {
  color: var(--clr-error);
  font-size: .75rem;
}

.redirect-link {
  color: var(--clr-primary);
  font-size: 14px;
  text-shadow: none;
  text-decoration: underline;
}

.submit-btn {
  padding: 0.5rem 1rem;
  color: white;
  background-color: var(--clr-dark);
  font-weight: bold;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  margin-top: 1rem;

  &:hover {
    background-color: var(--clr-light);
  }

  &:disabled {
    opacity: 0.75;
    pointer-events: none;
  }
}

app-loader {
  margin-top: 2rem;
  display: block;
}