main {
  display: grid;
  grid-template-columns: auto 260px;
  gap: 20px;
  justify-content: space-between;
}

.hero {
  text-align: center;
}

.title {
  font-size: 2.5rem;
}

.hero-info {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.sign-in-message {
  font-size: 1.5rem;
  font-weight: bold;

  a {
    color: var(--clr-primary);
  }
}

.dglump-btn {
  --width: 320px;
  --height: 175px;
  --bottom-height: 100px;
  --active-height: 50px;
  width: var(--width);
  height: calc(var(--height) + var(--bottom-height));

  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.dglump-btn-space {
  width: 100%;
  height: var(--height);
  position: absolute;
  top: 0;
  left: 0;
  perspective: 500px;
}

.dglump-btn-shape {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, var(--clr-light), #310000);
  box-shadow: 0 var(--bottom-height) 50px #000;
  transition: all 0.15s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.dglump-btn-bottom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 50% 50%;
  box-shadow: 0 var(--bottom-height) var(--clr-dark);
  transition: all 0.15s ease;
}

.dglump-btn-outline {
  width: 100%;
  height: 100%;
  outline: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.dglump-btn-text {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  line-height: var(--height);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(45deg) scaleY(1.5) translateY(-8px);
  margin: 0;
  transition: all 0.15s ease;
}

.dglump-btn:active .dglump-btn-shape {
  top: calc(var(--bottom-height) - var(--active-height));
  box-shadow: 0 var(--active-height) 25px #000;
}

.dglump-btn:active .dglump-btn-bottom {
  box-shadow: 0 var(--active-height) var(--clr-dark);
}

.dglump-btn:active .dglump-btn-text {
  top: calc(var(--bottom-height) - var(--active-height));
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: auto;
    justify-content: initial;
    justify-items: center;
    gap: 40px;
  }

  .dglump-btn {
    --width: 260px;
    --height: 130px;
    --bottom-height: 65px;
    --active-height: 35px;
  }

  .dglump-btn-text {
    font-size: 3.5rem;
  }
}

app-position {
  position: fixed;
}